.main-container {
  background-image: url(../img/BackgroundImages/MillStaircase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.skipio-logo {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
}

.logo-container {
  width: 35%;
  margin: auto;
}
